.filter {
    display: flex;
    width: 100%;

    .filterFilter {
        max-width: 30%;
        flex-basis: 30%;
        border-right: 1px solid grey;;
    }

    .filterItems {
        flex: 1 0 auto;
        .item {
            padding: 10px;
            border-bottom: 1px solid grey;
        }
    }
}
