:root {
  --main-bg: tomato
}

#theme-toggler:checked + * {
  --main-bg: grey;
}

.app {
  text-align: center;
  padding: 2rem;
  background-color: var(--main-bg);
}

h1 {
  color: var(--text-color);
  margin-bottom: 1rem;
}

p {
  color: #666;
}
